In [2]:
import pandas as pd
import matplotlib.pyplot as plt

### 자료출처
 - 우리나라에 영향을 미친 태풍 : 기상청(https://data.kma.go.kr/data/typhoonData/typTable.do?pgmNo=703)
 - 어업별 업종별 어선 등록현황 : 통계청(https://kosis.kr/statHtml/statHtml.do?orgId=146&tblId=DT_ERT9030&conn_path=I2)
  해양수산부,「등록어선통계」, 2022, 2024.03.22, 어업별 업종별 어선세력

영향을 미친 태풍

In [3]:
typhoon_count_df=pd.read_csv('./data/etc/태풍.csv')
typhoon_count_df

       month  count
0    2001-01      0
1    2001-02      0
2    2001-03      0
3    2001-04      0
4    2001-05      0
..       ...    ...
271  2023-08      0
272  2023-09      0
273  2023-10      0
274  2023-11      0
275  2023-12      0

[276 rows x 2 columns]

어업별 업종별 어선등록현황

In [33]:
boat_df=pd.read_csv('./data/etc/어업별_업종별_어선세력.csv')
df=boat_df.drop(columns=['쌍끌이대형저인망','서남해구외끌이중형저인망','서남해구쌍끌이중형저인망','동해구중형트롤','근해자망','연안자망','연안개량안강망'])
boat_df
df

    업종별(1)   근해어업  대형트롤  대형선망  소형선망  근해채낚기  근해안강망  근해연승  연안선망    연안복합  정치망
0     2001  5,014    62   219    92    735    585   907   494  24,864  589
1     2002  4,541    62   220    96    699    466   808   480  26,040  590
2     2003  4,166    60   210    86    663    382   722   480  32,148  574
3     2004  3,773    58   190    64    611    311   610   320  34,253  496
4     2005  3,687    58   188    64    607    285   584   318  33,725  470
5     2006  3,630    58   191   106    679    266   495   309  33,258  407
6     2007  3,573    60   191   100    641    262   529   306  33,142  482
7     2008  3,385    64   175    94    612    234   416   258  27,395  436
8     2009  3,047    54   154    76    522    236   352   251  25,459  498
9     2010  2,875    53   153    77    476    229   323   206  25,239  463
10    2011  2,845    51   143    74    490    224   323   281  23,974  491
11    2012  2,842    52   143    74    490    214   322   296  22,638  496
12    2013  2,780    52   143    72    480    208   301   265  22,173  348
13    2014  2,714    52   143    70    473    214   274   258  20,245  563
14    2015  2,643    52   146    68    461    219   267   246  20,643  611
15    2016  2,640    51   144    71    445    218   267   250  19,668  628
16    2017  2,730    54   145    69    468    206   296   286  18,115  594
17    2018  2,720    52   142    85    460    207   254   268  16,978  665
18    2019  2,677    52   151    90    443    210   227   257  16,719  656
19    2020  2,613    53   111    81    404    205   261   260  16,638  640
20    2021  2,492    42   111    51    403    202   262   253  16,599  639
21    2022  2,372    43   110    42    404    197   260   231  16,611  650

In [58]:
df=df.replace({',':''},regex=True)
df=df.astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업종별(1)  22 non-null     int32
 1   근해어업    22 non-null     int32
 2   대형트롤    22 non-null     int32
 3   대형선망    22 non-null     int32
 4   소형선망    22 non-null     int32
 5   근해채낚기   22 non-null     int32
 6   근해안강망   22 non-null     int32
 7   근해연승    22 non-null     int32
 8   연안선망    22 non-null     int32
 9   연안복합    22 non-null     int32
 10  정치망     22 non-null     int32
dtypes: int32(11)
memory usage: 1.1 KB

In [60]:
df['sum']=df.sum(axis=1)
df

,업종별(1),근해어업,대형트롤,대형선망,소형선망,근해채낚기,근해안강망,근해연승,연안선망,연안복합,정치망,sum
0,2001,5014,62,219,92,735,585,907,494,24864,589,71124
1,2002,4541,62,220,96,699,466,808,480,26040,590,72008
2,2003,4166,60,210,86,663,382,722,480,32148,574,82988
3,2004,3773,58,190,64,611,311,610,320,34253,496,85380
4,2005,3687,58,188,64,607,285,584,318,33725,470,83982
5,2006,3630,58,191,106,679,266,495,309,33258,407,82810
6,2007,3573,60,191,100,641,262,529,306,33142,482,82586
7,2008,3385,64,175,94,612,234,416,258,27395,436,70154
8,2009,3047,54,154,76,522,236,352,251,25459,498,65316
9,2010,2875,53,153,77,476,229,323,206,25239,463,64208
10,2011,2845,51,143,74,490,224,323,281,23974,491,61814
11,2012,2842,52,143,74,490,214,322,296,22638,496,59158
12,2013,2780,52,143,72,480,208,301,265,22173,348,57670
13,2014,2714,52,143,70,473,214,274,258,20245,563,54040
14,2015,2643,52,146,68,461,219,267,246,20643,611,54742
15,2016,2640,51,144,71,445,218,267,250,19668,628,52796
16,2017,2730,54,145,69,468,206,296,286,18115,594,49960
17,2018,2720,52,142,85,460,207,254,268,16978,665,47698
18,2019,2677,52,151,90,443,210,227,257,16719,656,47002
19,2020,2613,53,111,81,404,205,261,260,16638,640,46572
20,2021,2492,42,111,51,403,202,262,253,16599,639,46150
21,2022,2372,43,110,42,404,197,260,231,16611,650,45884